.App {
  text-align: center;
  height: 100vh;
}

.state-node {
  border: 1px solid #eee;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.state-node .title {
  display: block;
  color: #777;
  font-size: 12px;
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 0.5px solid #EFEFEF;
}

.state-node .action {
  display: block;
  color: #777;
  font-size: 12px;
  text-align: left;
}

.state-node .implementation {
  margin-bottom: 2px;
}
